*{
    margin: 0;
    padding:0;
    font-family: 'Open Sans';
    box-sizing: border-box;
}

.absolute{
    position: absolute;
}

.container{
    padding: 0 15px;
}

.wrap{
    width: 1210px;
    margin:0 auto 20px; 
    position: relative;
}

.header-title{
    display: inline-block;
    width: 359.984px;
    height: 210px;
    font-size: 36px;
    font-weight:700;
    color:#fff;
    background: #99c;
    text-align: center;
    line-height: 210px;
    margin-right: 21px;
}

.menu-relative{
    position: relative;
}

.menu-absolute{
    position: absolute;
    right: 0;
    top: 25px;
}

.header-menu{
    display: inline-block;
    width: 829.984px;
    padding: 20px;
    position: absolute;
    background: #edeeef;
    height: 210px;
}

.header-menu-item{
    display: inline-block;
    height: 145px;
    width: 145px;
    background-color: #fff;
    font-size: 19.2px;
    color: #666;
    padding: 35.5px 0 0 36.25px;
    margin-left: 16px;    
}

.header-menu-item-active{
    background: #c99;
    color: #fff;
}

.header-item-num{
    margin-bottom: 20px;
}

.main-img{
    display: inline-block;
    background: url(./example/img/comparto-image-01.jpg);
    width: 699.98px;
    height:699.98px;
}

.main-side{
    display: inline-block;
    width: 490.047px;
    padding: 50px 40px;
    height: 700px;
    background: #edeeef;
    right: 0;
}
.main-side-title{
    font-size: 24px;
    font-weight:700;
    color: #333;
    margin: 0 0 40px;
}

.main-side-main{
    font-size: 18px;
    line-height: 30.6px;
    margin-bottom: 35px;
    color: #666;
}

.main-side-bnt{
    display: inline-block;
    background: #c99;
    padding: 15px 40px;
    font-size: 17.6px;
    color: #fff;
}

.banner{
    text-align: center;
    background: #99c;
    padding: 70px;
}
.icon{
    display: inline-block;
    color:#FFF;
    width: 250px;
    margin: 0 51px ;
}

.fas{
    font-size: 72px;
    margin: 0 0 20px;
}

.icon-describ{
    line-height: 30.6px;
    font-size: 18px;
    margin:0 0 35px;
}

.main-box{
    width: 490.047px;
    padding: 40px 50px;
    background: #f2f2f2;
    margin-bottom: 20px;
} 

.main-box .main-side-main{
    color: #666;
    margin: 35px 0 0;
}

.italic{
    padding: 30px 60px 45px ;
    font-style: italic;
    text-align: center;
    background: #ddd;
}

.italic .main-side-main{
    line-height: 36px;
    text-align: left;
    margin-bottom: 35px;
    color: #333;
}

.italic .main-side-bnt{
    background: #666768;
}

.main-side-img{
    background: url(./example/img/comparto-image-02.jpg);
    width: 699.98px;
    height: 699.98px;
    position: absolute;
    right: 0;
    top: 0;
}

.bluebar{
    padding: 40px 40px 30px;
    background: #9cf;
    text-align: right;
}

.bluebar-title{
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px;
}

.bluebar-menu{
    text-align: center;
}

.bluebar-menu-item{
    display: inline-block;
    margin: 5px;
    font-size: 18px;
    color: #333;
}