*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro';
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #333 url(./example/images/overlay.png)repeat;
}

.icon{
    margin: 0 1.5px 0;
    font-size: 20px;
    padding: 0 1.6px;
    width: 40px;
    height: 40px;
    background-color: #a00044;
    line-height: 40px;
    color: #ffffff99;
}

.header{
    background: #D20059 url(./example/images/overlay.png);
    margin: 0 20px;
}

.header_main{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 200px;
}

.header_title{
    margin-top: 48px;
    font-size: 56px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
}

.header_describ{
    display: block;
    font-size: 14.4px;
    font-weight: 400;
    letter-spacing: 0.72px;
    line-height: 25.92px;
    color: #ffffff66;
}

.header_title a{
    color: #ffffff;
}
.header_icons{
    margin-top: 96px;
    text-align: center;
}

.header_menu{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    background: #A00044;
}

.header_menu-item {
    display: block;
    padding: 0px 40px 0px 40px;
    line-height: 70px;
    text-align: center;
    font-size: 16px;
    font-weight: 200;
}

.header_menu a{
    color: #ffffff80;
}

.header_menu-active a,.header_describ a{
    color: #ffffffcc;
}

.header_menu a:hover{
    color: #ffffffcc;
}

.main{
    background-color: #fff;
    margin: 0 20px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
    margin: 0 auto;
    width: 1200px;
}

.main_left{
    width: 800px;
    padding-right: 50px;
    border-right: 1px solid  #e6e7dc;
    box-sizing: content-box;

}

.main_title-lg{
    font-size: 40px;
    font-weight: 300;
    padding-bottom: 30px;
    color: #2d2d2d;
}

.main_img{
    background: url(./example/images/img03.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 333.328px;
    margin-bottom: 48px;
}

.main_content{
    font-size: 16px;
    font-weight: 400;
    line-height:28.8px;
    padding-bottom: 80px;
    border-bottom: solid 1px #e6e7dc;
}

.main_title-space{
    margin: 64px 0 2px;
}

.title_describ{
    display: block;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.72px;
    line-height: 25.92px;
}

.main_right{
    width: 250px;
    margin-right: 50px;
    box-sizing: content-box;

}

.main_title-md{
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 30px;
}

.right_box{
    padding: 25px 0 15px;
    border-top:1px solid #e6e7dc ;
}

.right_first{
    padding-top: 0;
    border-top:none ;
}

.box_title{
    font-size: 17.6px;
    font-weight: 300;
    padding-bottom: 10px;
}

.box_content{
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    margin-bottom: 16px;
}

.main_button{
    display: inline-block;
    background-color: #A00044;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.6px;
    line-height: 48px;
    margin-top: 32px;
    padding: 0 16px;
}

.box_title a{
    color: #101010;
}

.box_content a{
    color: #000000cc;
}

.right_box a:hover{
    text-decoration: underline;
}

.main_button {
    color: #fff;
}