* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial';
}

* a{
    text-decoration: none;
}

.left{
    border-left: 1px solid rgba(0, 0,0, 0.2);
}

header{
    padding: 32px 0;
    width: 1200px;
    margin: 0 auto ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo{
    display: inline-block;
    font-size: 56px;
    font-weight: 700;
}

.logo a{
    color: #f67c87;
}

.menu{
    display: inline-block;
    padding: 16px 32px  ;
    text-align: center;
}

.button{
    display: inline-block;
    font-size: 14.4px;
    font-weight: 600;
    padding: 18.72px 21.6px;
}

.button a{
    color: #e85d4b;
}

.first {
    background-color: #f67c78;
} 

.first a{
    color: #FFF;
}

.img{
    margin: 48px 0;
    background: url(./example/images/banner.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 1200px;
}

.main{
    background-color: #f3f3f3;
    
}

.main-width{
    width: 1200px;
    padding: 80px 0;
    margin: 0 auto;
    display: flex;
}

.left-main{
    width: 700px;
    margin-right: 100px;
    display: inline-block;
}

.container{
    width: 700px;
}

.title{
    font-size: 25.6px;
    font-weight: 700;
    color: #404040;
    margin-bottom: 48px;
}

.content{
    font-size: 16px;
    line-height: 28.8px;
    color: #00000099;
    margin-bottom: 64px;
}

.box{
    display: inline-block;
    width: 320px;
    margin-right: -3px;
}

.link{
    padding-top: 9.6px;
    }

.link a{
    color: #888787;
}

.boxes .left{
    padding-left: 78px;
}

.box .button{
    margin-top: 32px;
    padding: 12.8px 32px;
    letter-spacing: 1px;
    line-height: 28.8px;
    background-color: #e85d4b;
    font-size: 16px;

}

.box .button a{
    color: #fff;
    font-weight: normal;
}

.right-main{
    width: 350px;
    padding-left: 49px;
}

.box .first{
    padding: 0;
    background-color: #f3f3f3;
}

.right-main .first{
    padding: 0;
    background-color: #f3f3f3;
}

.right-smtitle{
    margin-top: 48px;
    font-size: 18.72px;
    font-weight: 300;
    margin-bottom: 9.36px;
}

.right-content{
    font-size: 16px;
    line-height: 28.8px;
    color: #00000099;
    width: 350px;
    margin-bottom: 16px;
}

.right-main .button{
    margin-top: 32px;
    padding: 12.8px 32px;
    letter-spacing: 1px;
    line-height: 28.8px;
    background-color: #e85d4b;
    font-size: 16px;

}

.right-main .button a{
    color: #fff;
    font-weight: normal;
}
