* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Questrial';
}

* a{
    text-decoration: none;
    color: #fff;
}

header{
    background-color: #2f1e28;
    padding:32px 0 96px ;
}

.logo{
    font-size: 56px;
    padding: 11.2px 50.4px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 11.2px;
}

.menu{
    text-align: center;
    padding-bottom: 96px;
}

.menu .button:hover{
    background-color: #912d65;
}

.button{
    display: inline-block;
    padding: 18.72px  21.6px;
    border-radius: 50%;
    font-size: 14.4px;
    font-weight: 600;
}

.first{
    background-color: #912d65;
}

.title{
    padding: 32px 100px 0;
    margin-bottom: 48px;
    text-align: center;
    font-size: 44.8px;
    font-weight: 700;
    color: #c6c2c4;
}

.content{
    width: 1000px;
    margin: 0 auto 16px;
    line-height: 28.8px;
    font-size: 16px;
    color: #7d6774;
    text-align: center;

}

.content strong{
    color: #c6c2c4;
}

.content a{
    color: #c6c2c4;
    text-decoration: underline;
}

.content a:hover{
    text-decoration: none;
}

.main{
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;

}

.main .box{
    margin: 0 auto;
    width: 320px;
    display: inline-block;
    padding: 0 40px 80px;
    box-sizing: content-box;
    text-align: center;

}

.main-title{
    font-size: 25.6px;
    font-weight: 700;
    margin:25.6px 0 48px;
    padding: 0;
    color: #404040;
}

.main-content{
    font-size: 16px;
    line-height: 28.8px;
    margin-bottom: 16px;
    color: #00000099;
}

.main .button{
    background-color: #2d1e25;
    margin-top: 32px  ;
    padding: 12.8px 32px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
    line-height: 28.8px;
}

.img-box{
    text-align: center;
    width: 282px;
    margin-right: 24px;
}

.img{
    background:url(./example/images/scr01.jpg)no-repeat;
    width: 284px;
    height: 182px;
    margin-bottom: 48px;
}

.img-title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #00000099;
}

.end{
    margin: 0;
}

footer{
    border-top: 20px solid rgba(225, 225, 225, 0.08);
    padding: 80px 0;
    background-color: #3e4947;
    text-align: center;
}


.footer-main{
    font-size: 14.4px;
    letter-spacing: 1px;
    line-height: 25.92px;
    color: #ffffff99;
}

.footer-main a{
    color: #ffffffcc;
}


footer .icon{
    margin: 46.4px 2px 0;
    font-size: 20px;
    padding: 0 1.6px;
    width: 40px;
    height: 40px;
    background-color: #3a4442;
    line-height: 40px;
    color: #ffffff99;
}
